# Created by .gitignore support plugin (hsz.mobi)

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
target
build
**/bower_components
data.old
data*
data.new
.gradle
*.iml
