<link rel="import" href="../../bower_components/core-list/core-list.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html"/>

<polymer-element name="current-matches" vertical layout attributes="tournamentId tournamentName">
    <template>

        <h2>{{tournamentName}}'s matches</h2>
        <table class="center rounds" cellspacing="0" id="current_round" style="display: none;">
            <tr class="core-header" style="height: 40px;">
                <th>White</th>
                <th></th>
                <th>Black</th>
            </tr>
            <template repeat="{{data}}">
                <template if="{{!result}}">
                    <tr>
                        <td style="padding-left: 5px;padding-right: 5px; text-align: center;">
                            <paper-button
                                    style="width:100%;"
                                    raisedButton
                                    on-tap="{{reportResult}}"
                                    data-matchId="{{id}}"
                                    data-result="{{'WHITE'}}">{{white.name}}</paper-button>
                        </td>
                        <td>
                            <paper-button
                                    raisedButton
                                    on-tap="{{reportResult}}"
                                    data-matchId="{{id}}"
                                    data-result="{{'REMIS'}}">vs</paper-button>
                        </td>
                        <td style="padding-left: 5px;padding-right: 5px; text-align: center;">
                            <paper-button
                                    raisedButton
                                    style="width:100%;"
                                    on-tap="{{reportResult}}"
                                    data-matchId="{{id}}"
                                    data-result="{{'BLACK'}}">{{black.name}}</paper-button>
                        </td>
                    <tr>
                </template>
            </template>
        </table>


        <h3>Earlier rounds</h3>
        <template repeat="{{rounds}}">
            <h4>Round {{number}}</h4>
            <table class="center rounds" cellspacing="0">
                <tr class="core-header" style="height: 40px;">
                    <th>White</th>
                    <th></th>
                    <th>Black</th>
                </tr>
                <template repeat="{{matches}}">
                    <tr>
                        <td class="{{result == 'WHITE' ? 'inverse' : 'looser'}}">
                            {{white.name}}
                        </td>
                        <td class="{{result == 'REMIS' ? 'inverse' : 'looser'}}">
                            vs
                        </td>
                        <td class="{{result == 'BLACK' ? 'inverse' : 'looser'}}">
                            {{black.name}}
                        </td>
                    <tr>
                </template>
            </table>
        </template>

        <div>
            <paper-button class="colored"
                          raisedButton
                          on-tap="{{nextRound}}">Next round</paper-button>
        </div>
        <div>
            <paper-button class="secondary"
                          raisedButton
                          on-tap="{{finish}}">Finish tournament</paper-button>
        </div>
        <paper-dialog id="finished">
            <p>Tournament finished</p>
        </paper-dialog>
        <core-ajax
                auto="false"
                url="/rest/tournament/{{tournamentId}}/matches"
                handleAs="json"
                id="fetchMatches"
                contentType="application/json"
                on-core-response="{{handleMatches}}">
        </core-ajax>

        <core-ajax
                auto="false"
                method="POST"
                url="/rest/tournament/{{tournamentId}}/finish"
                handleAs="json"
                id="finishTournament"
                on-core-response="{{tournamentFinished}}"
                contentType="application/json">
        </core-ajax>

        <core-ajax
                auto="false"
                url="/rest/tournament/{{tournamentId}}/rounds"
                handleAs="json"
                id="fetchRounds"
                contentType="application/json"
                on-core-response="{{handleRounds}}">
        </core-ajax>

        <core-ajax
                auto="false"
                method="POST"
                url="/rest/match/{{id}}/report/{{result}}"
                handleAs="json"
                id="report_result"
                contentType="application/json"
                on-core-response="{{update}}"></core-ajax>

        <core-ajax
                auto="false"
                method="POST"
                url="/rest/tournament/{{tournamentId}}/next-round"
                handleAs="json"
                id="next_round"
                contentType="application/json"
                on-core-response="{{update}}"></core-ajax>

    </template>
    <script>
        Polymer('current-matches', {
            created: function () {
                this.data = [];
                this.rounds = [];
            },
            handleRounds: function (e) {
                this.rounds = e.detail.response;
            },
            handleMatches: function (e) {
                this.data = e.detail.response;
                if (this.data.length > 0) {
                    this.$.current_round.style.display = 'table';
                } else {
                    this.$.current_round.style.display = 'none';
                }
            },
            reportResult: function (e, detail, sender) {
                this.id = sender.getAttribute("data-matchId");
                this.result = sender.getAttribute("data-result");

                this.$.report_result.go();
            },
            update: function () {
                this.$.fetchMatches.go();
                this.$.fetchRounds.go();
            },
            nextRound: function () {
                this.$.next_round.go();
            },
            finish: function() {
                this.$.finishTournament.go();
            },
            tournamentFinished: function() {
                this.fire("tournament-finished");
                this.$.finished.toggle()
            }
        });
    </script>

</polymer-element>