<link rel="import" href="../../bower_components/core-list/core-list.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html"/>

<polymer-element name="current-matches" vertical layout attributes="tournamentId tournamentName">
    <template>

        <h1>{{tournamentName}}' matches</h1>
        <table class="center">
            <tr>
                <th>White</th>
                <th></th>
                <th>Black</th>
            </tr>
            <template repeat="{{data}}">
                <template if="{{!result}}">
                    <tr>
                        <td>
                            <paper-button
                                    raisedButton
                                    label="{{white.name}}"
                                    on-tap="{{reportResult}}"
                                    data-matchId="{{id}}"
                                    data-result="{{'WHITE'}}"/>
                        </td>
                        <td>
                            <paper-button
                                    raisedButton
                                    label="vs"
                                    on-tap="{{reportResult}}"
                                    data-matchId="{{id}}"
                                    data-result="{{'REMIS'}}"/>
                        </td>
                        <td>
                            <paper-button
                                    raisedButton
                                    label="{{black.name}}"
                                    on-tap="{{reportResult}}"
                                    data-matchId="{{id}}"
                                    data-result="{{'BLACK'}}"/>
                        </td>
                    <tr>
                </template>
            </template>
        </table>


        <h3>Earlier rounds</h3>
        <template repeat="{{rounds}}">
            <h4>Round {{number}}</h4>
            <table class="center">
                <tr>
                    <th>White</th>
                    <th></th>
                    <th>Black</th>
                </tr>
                <template repeat="{{matches}}">
                    <tr>
                        <td class="{{result == 'WHITE' ? 'inverse' : 'looser'}}">
                            {{white.name}}
                        </td>
                        <td class="{{result == 'REMIS' ? 'inverse' : 'looser'}}">
                            vs
                        </td>
                        <td class="{{result == 'BLACK' ? 'inverse' : 'looser'}}">
                            {{black.name}}
                        </td>
                    <tr>
                </template>
            </table>
        </template>

        <paper-button raisedButton label="Next round" on-tap="{{nextRound}}"></paper-button>
        <core-ajax
                auto="false"
                url="/rest/tournament/{{tournamentId}}"
                handleAs="json"
                id="fetchMatches"
                contentType="application/json"
                on-core-response="{{handleResponse}}">
        </core-ajax>


        <core-ajax
                auto="false"
                method="POST"
                url="/rest/match/{{id}}/report/{{result}}"
                handleAs="json"
                id="report_result"
                contentType="application/json"
                on-core-response="{{update}}"></core-ajax>

        <core-ajax
                auto="false"
                method="POST"
                url="/rest/tournament/{{tournamentId}}/next-round"
                handleAs="json"
                id="next_round"
                contentType="application/json"
                on-core-response="{{update}}"></core-ajax>

    </template>
    <script>
        Polymer('current-matches', {
            created: function () {
                this.data = [];
                this.rounds = [];
            },
            handleResponse: function (e) {
                console.log(e);
                if (e.detail.response.currentRound) {
                    this.data = e.detail.response.currentRound.matches;
                    this.rounds = e.detail.response.rounds;
                }
            },
            reportResult: function (e, detail, sender) {
                this.id = sender.getAttribute("data-matchId");
                this.result = sender.getAttribute("data-result");

                this.$.report_result.go();
            },
            update: function () {
                this.$.fetchMatches.go();
            },
            nextRound: function () {
                this.$.next_round.go();
            }
        });
    </script>

</polymer-element>