<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/data/neo4j
                           http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>
    <context:spring-configured/>
    <context:component-scan base-package="net.olemartin.service"/>
    <context:component-scan base-package="net.olemartin.push"/>
    <context:component-scan base-package="net.olemartin.tools"/>
    <tx:annotation-driven mode="proxy"/>
    <neo4j:config storeDirectory="data" base-package="net.olemartin.domain"/>
    <neo4j:repositories base-package="net.olemartin.repository" neo4j-template-ref="neo4jTemplate"/>


</beans>