<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html"/>
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html"/>
<link rel="import" href="../../bower_components/core-icons/core-icons.html">
<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../bower_components/paper-shadow/paper-shadow.html">

<polymer-element name="tournament-listing" vertical layout attributes="tournamentId tournamentName">

    <template>
        <style type="text/css">
            div.list {
                align-self: center;
                margin-bottom: 30px;
                padding: 20px 20px 40px;
            }

            .tournaments {
                border-bottom: solid thin #373b50;
            }

            .button {
                text-align: left;
            }
            .finished {
                font-style: italic;
            }
        </style>
        <h2>Registered tournaments</h2>

        <div horizontal layout>
            <div flex vertical layout class="list">
                <paper-shadow id="myShadow" z="1">
                    <template repeat="{{data}}">
                        <div horizontal layout class="tournaments">
                            <paper-button
                                    flex three
                                    link
                                    class="colored button {{ {finished: finished} | tokenList }}"
                                    on-tap="{{tournamentSelected}}"
                                    data-id="{{id}}"
                                    data-name="{{name}}">{{name}}
                            </paper-button>
                            <paper-icon-button
                                    flex
                                    on-tap="{{deleteTournament}}"
                                    data-id="{{id}}"
                                    icon="delete"></paper-icon-button>
                        </div>
                    </template>
                </paper-shadow>
            </div>
        </div>
        <new-tournament id="new_tournament" cross-fade
                        on-tournament_created="{{tournamentCreated}}"/>


        <core-ajax
                auto="true"
                url="/rest/tournament"
                handleAs="json"
                id="listTournaments"
                contentType="application/json"
                on-core-response="{{handleResponse}}">
        </core-ajax>

        <core-ajax
                auto="false"
                url="/rest/tournament/{{deleteTournamentId}}"
                handleAs="json"
                method="DELETE"
                id="deleteTournamentAjax"
                contentType="application/json"
                on-core-response="{{handleDelete}}">
        </core-ajax>
    </template>
    <script>
        Polymer('tournament-listing', {
            handleResponse: function (e) {
                this.data = e.detail.response;
            },
            tournamentSelected: function (e, detail, sender) {
                this.fire('tournament_changed', {
                    id: sender.getAttribute("data-id"),
                    name: sender.getAttribute("data-name")
                });
            },
            tournamentCreated: function () {
                this.$.listTournaments.go();
            },
            deleteTournament: function (e, detail, sender) {
                this.deleteTournamentId = sender.getAttribute("data-id");
                this.$.deleteTournamentAjax.go();
            },
            handleDelete: function () {
                this.$.listTournaments.go();
            }
        });
    </script>
</polymer-element>