<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">

<polymer-element name="new-tournament" vertical layout>

    <template>

        <h1>New tournament</h1>
        <paper-input label="The tournament's name" value="{{tournamentName}}" id="tournamentName"></paper-input>
        <paper-button raisedButton label="Send" id="send" on-tap="{{doSend}}"/>


        <core-ajax
                auto="false"
                method="POST"
                url="/rest/tournament/new"
                body='{"name":"{{tournamentName}}"}'
                handleAs="json"
                id="save"
                contentType="application/json"
                on-core-response="{{handleResponse}}"></core-ajax>

    </template>
    <script>
        Polymer('new-tournament', {
            doSend: function (e) {
                this.$.save.go()
            },
            handleResponse: function (e) {
                this.fire('tournament_created', {id: e.detail.response.id, name: e.detail.response.name});
                console.log(e.detail.response.id);
            }
        });
    </script>
</polymer-element>