<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../../bower_components/core-label/core-label.html">

<polymer-element name="new-tournament" vertical layout>

    <template>
        <paper-dialog title="New tournament" id="new_tournament">
            <paper-input value="{{tournamentName}}" id="tournamentName" label="The tournament's name" floatingLabel="true" style="width:100%"></paper-input>
            <core-label>
                Choose engine
            </core-label>
            <core-list data="{{engines}}" id="engine" multi="false" style="height:150px;" flex>
                <template>

                    <div class="item {{ {selected: selected} | tokenList }}">
                        {{model.name}}
                    </div>
                </template>
            </core-list>
            <paper-button
                    primary
                    raisedButton
                    id="send"
                    on-tap="{{doSend}}">Send
            </paper-button>

            <core-ajax
                    auto="false"
                    method="POST"
                    url="/rest/tournament/new"
                    body="{{tournamentJSON}}"
                    handleAs="json"
                    id="save"
                    contentType="application/json"
                    on-core-response="{{handleResponse}}"></core-ajax>

        </paper-dialog>

        <div>
            <paper-button raisedButton primary on-tap="{{openDialog}}">New tournament</paper-button>
        </div>
    </template>
    <script>
        Polymer('new-tournament', {
            created: function () {
                this.engines =
                        [
                            {"name": "Monrad", "id": "MONRAD"},
                            {"name": "Round-robin", "id": "ROUND_ROBIN"}
                        ];
            },
            doSend: function (e) {
                var tournament = {};
                tournament.name = this.tournamentName;
                tournament.engine = this.$.engine.selection.id;
                this.tournamentJSON = JSON.stringify(tournament);
                this.$.save.go();
            },
            handleResponse: function (e) {
                this.fire('tournament_created');
                console.log(e.detail.response.id);
                this.$.new_tournament.toggle();
                this.tournamentName = '';
            },
            openDialog: function (e) {
                this.$.new_tournament.toggle();
                that = this;
                setTimeout(function(){ that.$.engine.updateSize(); }, 100);
            }
        });
    </script>
</polymer-element>