
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">

<polymer-element name="person-details" attr="personId" vertical layout>
    <template>
        <paper-dialog id="person_details">

            <h3 style="text-align:center;">{{person.name}} ({{person.rating}})</h3>
            <h4 style="text-align:center;min-width: 300px; margin-bottom:15px;">Tournaments</h4>
            <table class="center">
                <tr>
                    <th>Name</th>
                    <th>Rank</th>
                </tr>
                <template repeat="{{person.tournaments}}">
                    <tr>
                        <td>{{name}}</td>
                        <td>{{rank}}</td>
                    </tr>
                </template>
            </table>
            <paper-button raisedButton class="error center" on-tap="{{deletePerson}}">Delete</paper-button>
        </paper-dialog>
        <core-ajax
            auto="true"
            url="/rest/person/{{personId}}"
            handleAs="json"
            id="getPerson"
            contentType="application/json"
            on-core-response="{{handleResponse}}"></core-ajax>
        <core-ajax
                auto="false"
                method="DELETE"
                url="/rest/person/{{personId}}"
                handleAs="json"
                id="deletePerson"
                contentType="application/json"
                on-core-response="{{deleted}}"></core-ajax>
    </template>
    <script>
        Polymer('person-details', {
            created: function () {
                this.data = {};
            },
            handleResponse: function (response, detail, target) {
                this.person = detail.response;
            },
            show: function (personId) {
                this.personId = personId;
                this.$.getPerson.go();
                this.$.person_details.toggle();
            },
            deletePerson: function (e, detail, target) {
                this.$.deletePerson.go();
            },
            deleted: function() {
                this.$.person_details.toggle();
                this.fire("persons-updated");
            }
        });
    </script>
</polymer-element>