<link rel="import" href="../../bower_components/core-list/core-list.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../bower_components/core-icons/core-icons.html">
<link rel="import" href="../../bower_components/core-icon/core-icon.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../components/person-details/person-details.html">

<polymer-element name="person-listing" vertical layout>
    <template>
        <style>
            #icon {
                margin: 0;
                padding: 0;
            }
            .person {
                border-bottom: solid thin #373b50;
            }
            .person:hover {
                cursor: pointer;
            }
        </style>
        <h2>Ratings</h2>

        <div horizontal layout>
            <div flex></div>
            <div flex three vertical layout style="align-self: center; margin-bottom: 30px; padding:20px;">
                <paper-shadow id="myShadow" z="1">
                <template repeat="{{data}}">
                    <div horizontal layout class="person" on-tap="{{personTapped}}" data-id="{{id}}">
                        <div style="text-align: left;" flex three>{{name}}</div>
                        <div flex>{{rating}}</div>
                    </div>
                </template>
                </paper-shadow>
            </div>
            <div flex></div>
        </div>
        <core-ajax
                auto="true"
                url="/rest/person/list"
                handleAs="json"
                id="getPersons"
                contentType="application/json"
                on-core-response="{{handleResponse}}">
        </core-ajax>

        <person-details id="personDetails"></person-details>
    </template>
    <script>
        Polymer('person-listing', {
            created: function () {
                this.data = {};
            },
            handleResponse: function (e) {
                this.data = e.detail.response;
            },
            personTapped:function (e, detail, target) {
                personId = target.getAttribute("data-id");
                this.$.personDetails.show(personId);
            },
            update: function() {
                this.$.getPersons.go();
            }
        });


    </script>
</polymer-element>