<link rel="import" href="../../bower_components/core-list/core-list.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../bower_components/web-loader/src/web-loader.html">

<polymer-element name="person-listing" vertical layout>
    <template>
        <h2>Ratings</h2>

        <div horizontal layout>
            <div flex></div>
            <div flex three vertical layout style="align-self: center; margin-bottom: 30px; padding:20px;">
                <paper-shadow id="myShadow" z="1"></paper-shadow>
                <template repeat="{{data}}">
                    <div horizontal layout style="border-bottom: solid thin #373b50;">
                        <div style="text-align: left;" flex three>{{name}}</div>
                        <div flex>{{rating}}</div>
                    </div>
                </template>
            </div>
            <div flex></div>
        </div>
        <core-ajax
                auto="true"
                url="/rest/person/list"
                handleAs="json"
                id="getPersons"
                contentType="application/json"
                on-core-response="{{handleResponse}}">
        </core-ajax>
    </template>
    <script>
        Polymer('person-listing', {
            created: function () {
                this.data = {};
            },
            handleResponse: function (e) {
                this.data = e.detail.response;
            }

        });


    </script>
</polymer-element>