<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../../bower_components/core-selector/core-selector.html">
<link rel="import" href="../../bower_components/core-list/core-list.html">
<link rel="import" href="../../bower_components/core-label/core-label.html">

<polymer-element name="new-player" attributes="tournamentId" vertical layout>

    <template>
        <style>
            .selected {
                background-color: #373b50;
                color: white;
            }

            .item:hover {
                cursor: pointer;
                background-color: #add8e6;
            }

            #new_player {
                min-width: 300px;
            }
        </style>
        <paper-dialog id="new_player">
            <core-label>
                Choose persons
            </core-label>
            <div style="overflow: auto; height:300px;">
                <core-list data="{{persons}}" style="height:300px" on-core-activate="{{itemSelected}}" id="playerlist" multi="true" flex>
                    <template>
                        <div class="item {{ {selected: selected} | tokenList }}">
                            {{model.name}}
                        </div>
                    </template>
                </core-list>
            </div>

            <div vertical layout>
                <div>
                    <paper-button style="margin-bottom: 30px;"
                                  class="colored"
                                  raisedButton
                                  id="send"
                                  icon="add"
                                  on-tap="{{doSend}}">Add player to tournament
                    </paper-button>
                </div>
                <div horizontal layout layout>
                    <div>
                        <paper-input label="Create new person" floatingLabel="true" value="{{personName}}"
                                     id="personName"></paper-input>
                    </div>
                    <div horizontal layout center>
                        <paper-button raisedButton
                                      class="secondary"
                                      id="newPerson"
                                      on-tap="{{newPerson}}"
                                      icon="create">Create
                        </paper-button>
                    </div>
                </div>
            </div>
        </paper-dialog>
        <div>
            <paper-button
                    icon="create"
                    raisedButton
                    class="colored"
                    on-tap="{{openDialog}}">New player
            </paper-button>
        </div>
        <core-ajax
                auto="false"
                method="POST"
                url="/rest/person/list"
                body='{"id":"{{tournamentId}}"}'
                handleAs="json"
                id="getPersons"
                contentType="application/json"
                on-core-response="{{personsRetrieved}}"></core-ajax>
        <core-ajax
                auto="false"
                method="POST"
                url="/rest/tournament/{{tournamentId}}/add"
                body='[{{personsFormatted}}]'
                handleAs="json"
                id="addPlayer"
                contentType="application/json"
                on-core-response="{{playerAdded}}"></core-ajax>

        <core-ajax
                auto="false"
                method="POST"
                url="/rest/person/new"
                body='{"name":"{{personName}}"}'
                handleAs="json"
                id="addPerson"
                contentType="application/json"
                on-core-response="{{personCreated}}"></core-ajax>
    </template>
    <script>
        Polymer("new-player", {
            created: function () {
                this.persons = {};
            },
            openDialog: function () {
                this.$.getPersons.go();
                this.$.new_player.toggle();
            },
            doSend: function () {
                if (this.$.playerlist.selection.length > 0) {
                    this.personsFormatted = this.$.playerlist.selection.map(function (element) {
                        return JSON.stringify(element)
                    });
                    this.$.addPlayer.go();
                    this.$.playerlist.clearSelection();
                    this.personsFormatted = '';
                }
            },
            playerAdded: function () {
                this.$.getPersons.go();
                this.fire("tournament_updated");
            },
            personsRetrieved: function (e) {
                this.persons = e.detail.response;
                this.$.playerlist.updateSize();
            },
            newPerson: function () {
                this.$.addPerson.go();
            },
            personCreated: function () {
                this.personName = '';
                this.$.getPersons.go();
                this.fire("person-created");
            }
        });
    </script>
</polymer-element>