<link rel="import" href="../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../bower_components/core-item/core-item.html"/>
<link rel="import" href="../../bower_components/core-animated-pages/core-animated-pages.html"/>
<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html"/>
<link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html"/>
<link rel="import" href="../../bower_components/core-menu-button/core-menu-button.html"/>
<link rel="import" href="../../bower_components/core-menu/core-menu.html"/>
<link rel="import" href="../../bower_components/core-dropdown/core-dropdown.html"/>
<link rel="import" href="../../bower_components/core-icon-button/core-icon-button.html"/>
<link rel="import" href="../../bower_components/paper-button/paper-button.html"/>
<link rel="import" href="../../bower_components/core-drawer-panel/core-drawer-panel.html"/>
<link rel="import" href="../../bower_components/core-scroll-header-panel/core-scroll-header-panel.html"/>
<link rel="import" href="../../components/new-tournament/new-tournament.html">
<link rel="import" href="../../components/person-listing/person-listing.html?123">
<link rel="import" href="../../components/player-listing/player-listing.html">
<link rel="import" href="../../components/current-matches/current-matches.html">
<link rel="import" href="../../components/tournament-listing/tournament-listing.html">
<link rel="import" href="../../components/new-player/new-player.html">


<polymer-element name="monrad-main" vertical layout>
    <template>
        <core-media-query
                query="max-width:600px"
                queryMatches="{{smallScreen}}">
        </core-media-query>
        <core-drawer-panel id="drawerPanel" drawerWidth="300px" responsiveWidth="1000px">
            <core-header-panel drawer style="background-color: #f2f7fa">
                <core-toolbar>
                    <span flex>Tournament<br/>Manager</span>
                </core-toolbar>
                <section>
                    <player-listing
                            id="small_players"
                            tournamentId="{{tournamentId}}"
                            tournamentName="{{tournamentName}}"
                            cross-fade
                            selectedSection="{{selected}}"/>
                </section>
            </core-header-panel>
            <core-header-panel main>
                <core-toolbar>
                    <template if="{{smallScreen}}">
                        <core-menu-button>
                            <core-icon-button icon="menu"></core-icon-button>
                            <core-dropdown class="dropdown" layered>
                                <core-menu>
                                    <template if="{{tournamentId}}">
                                        <core-item on-tap="{{players_selected}}" label="Players"></core-item>
                                        <core-item on-tap="{{matches_selected}}" label="Matches"></core-item>
                                    </template>
                                    <core-item on-tap="{{tournaments_selected}}" label="Tournaments"></core-item>
                                    <core-item on-tap="{{persons_selected}}" label="Persons"></core-item>
                                </core-menu>
                            </core-dropdown>
                        </core-menu-button>
                    </template>
                    <template if="{{!smallScreen}}">
                        <span flex></span>
                        <template if="{{tournamentId}}">
                            <paper-button on-tap="{{players_selected}}">Players</paper-button>
                            <paper-button on-tap="{{matches_selected}}">Matches</paper-button>
                        </template>
                        <paper-button on-tap="{{tournaments_selected}}">Tournaments</paper-button>
                        <paper-button on-tap="{{persons_selected}}">Persons</paper-button>
                    </template>
                </core-toolbar>
                <core-animated-pages selected="{{selected}}" flex auto
                                     transitions="slide-up slide-down cross-fade">
                    <section name="players">
                        <h2>{{tournamentName}}'s players</h2>
                        <player-listing id="players" tournamentId="{{tournamentId}}"
                                        tournamentName="{{tournamentName}}"
                                        large="true" cross-fade selectedSection="{{selected}}"></player-listing>
                        <new-player tournamentId="{{tournamentId}}" on-person-created="{{persons_updated}}"/>
                    </section>
                    <section name="matches">
                        <current-matches id="matches" tournamentId="{{tournamentId}}"
                                         tournamentName="{{tournamentName}}"
                                         cross-fade selectedSection="{{selected}}"
                                         on-tournament-finished="{{persons_updated}}"></current-matches>
                    </section>
                    <section name="tournaments">
                        <tournament-listing id="tournaments" on-tournament_changed="{{tournament_changed}}"
                                            cross-fade selectedSection="{{selected}}"></tournament-listing>
                    </section>
                    <section name="persons">
                        <person-listing id="persons" cross-fade selectedSection="{{selected}}"></person-listing>
                    </section>
                </core-animated-pages>
            </core-header-panel>
        </core-drawer-panel>
    </template>
    <script>
        Polymer("monrad-main", {
            ready: function () {
                if (window.location.hash) {
                    this.tournamentId = window.location.hash.substring(1).split("!")[0];
                    this.tournamentName = decodeURI(window.location.hash.substring(1).split("!")[1]);
                    this.selected = "players";
                    this.players_selected();
                } else {
                    this.selected = "tournaments";
                }
            },
            players_selected: function () {
                this.selected = "players";
                this.$.players.updatePlayers();
                this.$.small_players.updatePlayers();
            },
            matches_selected: function () {
                this.selected = "matches";
                this.$.matches.update();
            },
            tournaments_selected: function () {
                this.selected = "tournaments";
            },
            persons_selected: function () {
                this.selected = "persons";
            },
            tournament_changed: function (event, arguments) {
                this.tournamentId = arguments.id;
                this.tournamentName = arguments.name;
                this.players_selected();
                window.location.hash = this.tournamentId + "!" + encodeURI(this.tournamentName);
            },
            persons_updated: function () {
                this.$.persons.update();
            }
        });

    </script>

</polymer-element>